---
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content={Astro.generator} />
    <meta
      name="description"
      content="Rodrigo Narvaez's personal website and portfolio."
    />
    <title>Rodrigo Narvaez</title>
    <link rel="sitemap" href="/sitemap-index.xml" />
  </head>
  <body>
    <div class="grid min-h-screen place-content-center">
      <p class="text-left text-sm">404 Not Found</p>
      <h1 class="text-5xl font-bold">Where are you going?</h1>
    </div>
  </body>
</html>
