---
import BaseLayout from '../layouts/BaseLayout.astro'
import Hero from '../components/Hero.astro'
import About from '../components/About.astro'
import Work from '../components/Work.astro'
import Experience from '../components/Experience.astro'
import Skills from '../components/Skills.astro'
import Contact from '../components/Contact.astro'
import Footer from '../components/Footer.astro'
---

<BaseLayout>
  <main id="main-content">
    <Hero />
    <About />
    <Work />
    <Experience />
    <Skills />
    <Contact />
  </main>
  <Footer />
</BaseLayout>
